/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Setting background color */
}

.navbar {
    background-color: #333; /* Changing background color */
    padding: 10px 0; /* Adding padding */
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff; /* Changing link color */
    font-size: 18px; /* Changing font size */
    transition: color 0.3s ease; /* Adding transition effect */
}

.nav-links a:hover {
    color: #ff9900; /* Changing color on hover */
}

.flag-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.flag-container img {
    width: 100px; /* Setting flag width */
    border: 2px solid #333; /* Adding border around flags */
    margin: 0 10px; /* Adding margin between flags */
    transition: transform 0.3s ease-in-out; /* Adding transition effect */
}

.flag-container img:hover {
    transform: scale(1.1); /* Increasing size on hover */
}

.contact-form {
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adding shadow */
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form select,
.contact-form textarea,
.contact-form input[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color: #333; /* Changing background color */
    color: #fff; /* Changing text color */
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}
